{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
cask_args appdir: '/Applications'

tap 'homebrew/bundle'
tap 'silinternational/tap'
tap 'havoc-io/mutagen'
tap 'hashicorp/tap'

###
# Setup
###
brew 'chezmoi'

###
# OTHER
###
brew 'telnet'
brew 'tree'
brew 'bat'                              # alternative to cat command
brew 'prettyping'                       # wrapper around ping
brew 'fzf'                              # alternative to CTRL+R
brew 'diff-so-fancy'                    # alternative to git diff
brew 'todo-txt'
brew 'adr-tools'
brew 'graphviz'
cask 'firefox'
cask 'cyberduck'

###
# DEV
###
brew 'libtiff'
brew 'libtool'
brew 'ssh-audit'
brew 'wget'
brew 'coreutils'
brew 'bash'
brew 'jq'
brew 'yarn', args: ["ignore-dependencies"]
brew 'git'
brew 'php@8.5'
brew 'composer'                         # git extension to interact with github
brew 'mkcert'
brew 'openjdk@11'
brew 'libpq'                            # Postgres utilities
brew 'asdf'
brew 'pnpm'
brew 'websocat'                         # Netcat, curl and socat for WebSockets
brew 'phive'                            # https://phar.io/
cask 'drawio'
cask 'postman'
cask 'iterm2'
cask 'slack'
cask 'gpg-suite'
cask 'visual-studio-code'
cask 'jetbrains-toolbox'
cask 'font-jetbrains-mono'              # Jetbrains mono font
cask 'figma'                            # Figma desktop app
cask 'jetbrains-toolbox'                # Jetbrains toolbox
cask 'another-redis-desktop-manager'    # Gui for Redis
cask 'electron-fiddle'
cask 'alt-tab'                          # Windows alt-tab on macOS

###
# SOCIAL
###
cask 'signal'
cask 'whatsapp'
cask 'spotify'

###
# VIDEO
###
#brew 'avidemux'
brew 'ffmpeg'
cask 'handbrake-app'
cask 'vlc'

###
# SRE
###
brew 'kubectl'
brew 'helm'
brew 'krew'
brew 'eksctl'
brew 'minikube'
brew 'hashicorp/tap/terraform'
brew 'awscli'
cask 'session-manager-plugin'
brew 'ansible'
cask 'confluent-cli'
brew 'fluxcd/tap/flux'

###
# SECURITY
###

###
# MACOS
###
cask 'keepingyouawake'                  # Macos sleep control ^^
cask 'rectangle'                        # Move windows like a rockstar
cask 'bettertouchtool'
cask 'keka'                             # The macOS file archiver
cask 'raycast'                          # Spotlight on steroids

EOF

{{ end -}}
