{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
cask_args appdir: '/Applications'

tap 'homebrew/bundle'
tap 'silinternational/tap'
tap 'havoc-io/mutagen'
tap 'homebrew/cask-versions'
tap 'homebrew/cask-fonts'

###
# Setup
###
brew 'chezmoi'

###
# OTHER
###
brew 'telnet'
brew 'tree'
brew 'bat'                          # alternative to cat command
brew 'prettyping'                   # wrapper around ping
brew 'fzf'                          # alternative to CTRL+R
brew 'diff-so-fancy'                # alternative to git diff
brew 'todo-txt'
brew 'adr-tools'
brew 'graphviz'
cask 'firefox'
cask 'cyberduck'

###
# DEV
###
brew 'libtiff'
brew 'libtool'
brew 'ssh-audit'
brew 'wget'
brew 'coreutils'
cask 'drawio'
brew 'bash'
brew 'jq'
brew 'yarn', args: ["ignore-dependencies"]
brew 'git'
brew 'php@8.2'
brew 'composer'                     # git extension to interact with github
brew 'mkcert'
brew 'serverless'
cask 'postman'
cask 'iterm2'
cask 'slack'
cask 'gpg-suite'
cask 'visual-studio-code'
cask 'jetbrains-toolbox'
cask 'font-jetbrains-mono'          # Jetbrains mono font
brew 'openjdk@11'
cask 'wave'
brew 'libpq'                        # Postgres utilities

###
# SOCIAL
###
cask 'signal'
cask 'whatsapp'
cask 'spotify'

###
# VIDEO
###
#brew 'avidemux'
brew 'ffmpeg'
brew 'youtube-dl'
cask 'handbrake'
cask 'vlc'

###
# SRE
###
brew 'kubectl'
brew 'helm'
brew 'krew'
brew 'eksctl'
brew 'fluxctl'
brew 'minikube'
brew 'terraform'
brew 'awscli'
cask 'session-manager-plugin'
brew 'ansible'
cask 'rancher'                      # Docker Desktop alternative
cask 'confluent-cli'

###
# SECURITY
###
cask 'authy'                        # Authy desktop

###
# MACOS
###
cask 'keepingyouawake'
cask 'rectangle'
cask 'bettertouchtool'
cask 'keka'                         # The macOS file archiver
cask 'raycast'                      # Spotlight on steroids

EOF

{{ end -}}
