{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
cask_args appdir: '/Applications'

tap 'homebrew/cask'
tap 'homebrew/bundle'
tap 'silinternational/tap'
tap 'havoc-io/mutagen'
tap 'homebrew/cask-versions'
tap 'homebrew/cask-fonts'

###
# Setup
###
brew 'chezmoi'

brew 'coreutils'
brew 'wget'
brew 'libtiff'
brew 'libtool'
brew 'ssh-audit'
brew 'sqlparse'
brew 'telnet'
brew 'jq'
brew 'tree'
brew 'bat'                          # alternative to cat command
brew 'prettyping'                   # wrapper around ping
brew 'fzf'                          # alternative to CTRL+R
brew 'diff-so-fancy'                # alternative to git diff
brew 'git'
brew 'deployer'
brew 'hub'
brew 'php@8.2'
brew 'composer'                     # git extension to interact with github
brew 'node@16'
brew 'yarn', args: ["ignore-dependencies"]
brew 'todo-txt'
brew 'serverless'
brew 'mkcert'
brew 'adr-tools'
brew 'graphviz'
brew 'java'

###
# Dev Tooling
###
cask 'drawio'

###
# Messaging
###
cask 'signal'

###
# video tools
###
#brew 'avidemux'
brew 'ffmpeg'
brew 'youtube-dl' #seems not very active
brew 'yt-dlp' # fork of youtube-dl
cask 'handbrake'

###
# SRE TOOLS
###
brew 'kubectl'
brew 'helm'
brew 'krew'
brew 'eksctl'
brew 'fluxctl'
brew 'minikube'
brew 'terraform'
brew 'awscli'
cask 'session-manager-plugin'
brew 'ansible'
cask 'rancher'                      # Docker Desktop alternative
cask 'confluent-cli'

brew 'bash'

cask 'firefox'
cask 'iterm2'
cask 'postman'
cask 'transmission'
cask 'vlc'
cask 'keepingyouawake'
cask 'spotify'
cask 'atom'
cask 'jetbrains-toolbox'
cask 'rectangle'
cask 'slack'
cask 'gpg-suite'
cask 'whatsapp'
cask 'cyberduck'
cask 'authy'                        # Authy desktop
cask 'font-jetbrains-mono'          # Jetbrains mono font
cask 'bettertouchtool'
cask 'visual-studio-code'
cask 'keka'                         # The macOS file archiver
cask 'raycast'                      # Spotlight on steroids
cask 'ubar'                         # Dock replacement
EOF

{{ end -}}
